<form method="post" action="{{ path('app_treuepunkte_delete', {'id': treuepunkte.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ treuepunkte.id) }}">
    <button class="btn">Delete</button>
</form>
