{% extends 'base.html.twig' %}

{% block title %}Hello MehlController!{% endblock %}

{% block body %}

<div class="b-example-divider"></div>
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
            <div class="lemming-march global-reflection" id="lemm1"></div>
              <div id="lemming1" class="lemming-march"></div>
            <svg width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="512" height="512" fill="#212529"/>
            <g id="windmill 1" clip-path="url(#clip0)">
            <g id="Cloud-left">
            <path id="Vector" d="M104.246 158.768H95.466C91.474 158.768 88.034 155.958 87.24 152.045C84.125 136.7 70.559 125.15 54.295 125.15C37.669 125.15 23.863 137.219 21.158 153.074C20.63 156.169 18.41 158.624 15.427 159.605C8.473 161.89 3.521 168.59 3.888 176.39C4.314 185.431 12.102 192.386 21.152 192.386H104.721C114.274 192.386 121.965 184.417 121.511 174.765C121.085 165.723 113.297 158.768 104.246 158.768V158.768Z" fill="#ECF4FF"/>
            <path id="Vector_2" d="M104.246 158.768H95.466C91.474 158.768 88.034 155.958 87.24 152.045C84.125 136.7 70.559 125.15 54.295 125.15C50.193 125.15 46.263 125.888 42.628 127.233C53.402 131.221 61.575 140.572 63.904 152.045C64.698 155.957 68.138 158.768 72.13 158.768H80.91C89.961 158.768 97.749 165.723 98.174 174.764C98.629 184.416 90.937 192.385 81.384 192.385H104.72C114.273 192.385 121.964 184.416 121.509 174.764C121.085 165.723 113.297 158.768 104.246 158.768V158.768Z" fill="#DDEAFB"/>
            </g>
            <g id="All">
            <g id="Group">
            <path id="Vector_3" d="M138.338 385.681H373.661V487.041H138.338V385.681Z" fill="#6a737b"/>
            <path id="Vector_4" d="M171.956 385.681H205.574V487.041H171.956V385.681Z" fill="#dc3545"/>
            <path id="Vector_5" d="M350.325 385.681H373.661V487.041H350.325V385.681Z" fill="#6a737b"/>
            </g>
            <g id="Group_2" class="d-none">
            <g id="Group_3">
            <path id="Vector_6" d="M54.295 494.532C50.092 494.532 46.685 491.126 46.685 486.922V419.416C46.685 415.213 50.092 411.806 54.295 411.806C58.498 411.806 61.905 415.212 61.905 419.416V486.922C61.904 491.125 58.497 494.532 54.295 494.532V494.532Z" fill="#D19A6E"/>
            </g>
            <path id="Vector_7" d="M37.486 411.147C37.486 420.43 45.012 427.956 54.295 427.956C63.578 427.956 71.104 420.43 71.104 411.147V377.53C71.104 368.247 63.578 360.721 54.295 360.721C45.012 360.721 37.486 368.247 37.486 377.53V411.147Z" fill="#B3E59F"/>
            </g>
            <g id="Group_4" class="d-none">
              <g id="Group_5">
              <path id="Vector_8" d="M457.706 494.532C453.503 494.532 450.096 491.126 450.096 486.922V419.416C450.096 415.213 453.503 411.806 457.706 411.806C461.909 411.806 465.316 415.212 465.316 419.416V486.922C465.315 491.125 461.908 494.532 457.706 494.532V494.532Z" fill="#D19A6E"/>
              </g>
              <path id="Vector_9" d="M440.897 411.147C440.897 420.43 448.423 427.956 457.706 427.956C466.989 427.956 474.515 420.43 474.515 411.147V377.53C474.515 368.247 466.989 360.721 457.706 360.721C448.423 360.721 440.897 368.247 440.897 377.53V411.147Z" fill="#B3E59F"/>
            </g>
            <path id="Vector_10" d="M272.809 444.765C272.809 435.482 265.283 427.956 256 427.956C246.717 427.956 239.191 435.482 239.191 444.765V487.041H272.809V444.765Z" fill="#343a40"/>
            <g id="Group_6">
            <path id="Vector_11" d="M171.956 218.196H340.044V281.353H171.956V218.196Z" fill="#6a737b"/>
            <path id="Vector_12" d="M316.708 218.196H340.044V281.353H316.708V218.196Z" fill="#6a737b"/>
            <path id="Vector_13" d="M342.302 174.764L354.242 222.523C355.568 227.827 351.556 232.966 346.089 232.966H165.911C160.443 232.966 156.431 227.828 157.758 222.523L169.698 174.764C171.176 168.853 174.232 163.455 178.541 159.146C195.85 141.837 219.326 132.113 243.805 132.113H268.196C292.675 132.113 316.151 141.837 333.46 159.146C337.768 163.455 340.825 168.853 342.302 174.764Z" fill="#343a40"/>
            <path id="Vector_14" d="M351.82 266.583H160.18C157.082 266.583 154.235 268.288 152.772 271.019L104.722 360.721V367.418H407.28V360.721L359.23 271.019C357.766 268.288 354.919 266.583 351.82 266.583Z" fill="#343a40"/>
            <g id="Group_7">
            <path id="Vector_15" d="M354.242 222.523L342.302 174.764C340.824 168.853 337.768 163.455 333.459 159.146C316.15 141.837 292.674 132.113 268.195 132.113H244.859C269.338 132.113 292.814 141.837 310.123 159.146C314.431 163.454 317.488 168.853 318.966 174.764L330.906 222.523C332.232 227.827 328.22 232.966 322.752 232.966H346.088C351.556 232.966 355.568 227.827 354.242 222.523V222.523Z" fill="#2b3035"/>
            <path id="Vector_16" d="M359.229 271.019C357.766 268.288 354.919 266.583 351.82 266.583H328.484C331.582 266.583 334.429 268.288 335.892 271.019L383.942 360.721V367.418H407.278V360.721L359.229 271.019Z" fill="#2b3035"/>
            </g>
            </g>
            <path id="Vector_17" d="M399.279 394.339H112.721C108.303 394.339 104.721 390.757 104.721 386.339V360.721H407.279V386.339C407.279 390.757 403.697 394.339 399.279 394.339Z" fill="#2b3035"/>
            <path id="Vector_18" d="M383.943 360.721V386.222C383.943 390.705 380.309 394.339 375.826 394.339H399.162C403.645 394.339 407.279 390.705 407.279 386.222V360.721H383.943Z" fill="#2b3035"/>
            <path id="Vector_19" d="M492.132 512H19.868C11.031 512 3.868 504.837 3.868 496V486.382C3.868 481.964 7.45 478.382 11.868 478.382H500.132C504.55 478.382 508.132 481.964 508.132 486.382V496C508.132 504.837 500.968 512 492.132 512Z" fill="#1e2024"/>
            <path id="Vector_20" d="M500.015 478.383H476.679C481.162 478.383 484.796 482.017 484.796 486.5V495.767C484.796 504.732 477.528 512.001 468.562 512.001H491.898C500.864 512.001 508.132 504.733 508.132 495.767V486.5C508.132 482.016 504.498 478.383 500.015 478.383Z" fill="#1e2024"/>
            </g>
            <g id="Cloud-right">
            <path id="Vector_21" d="M407.754 41.354H416.534C420.526 41.354 423.966 38.544 424.76 34.631C427.875 19.286 441.441 7.73599 457.705 7.73599C474.331 7.73599 488.137 19.805 490.842 35.66C491.37 38.755 493.59 41.21 496.573 42.19C503.527 44.475 508.479 51.175 508.112 58.975C507.686 68.016 499.898 74.971 490.848 74.971H407.279C397.726 74.971 390.035 67.002 390.489 57.35C390.915 48.31 398.703 41.354 407.754 41.354V41.354Z" fill="#ECF4FF"/>
            <path id="Vector_22" d="M496.574 42.19C493.591 41.21 491.371 38.755 490.843 35.659C488.138 19.804 474.331 7.73599 457.706 7.73599C453.603 7.73599 449.672 8.47299 446.037 9.81899C457.132 13.926 465.47 23.717 467.508 35.66C468.036 38.755 470.256 41.21 473.239 42.191C480.193 44.476 485.145 51.176 484.778 58.976C484.352 68.017 476.564 74.972 467.514 74.972H490.85C499.901 74.972 507.689 68.017 508.114 58.976C508.48 51.176 503.528 44.475 496.574 42.19V42.19Z" fill="#DDEAFB"/>
            </g>
            <g id="Rotate-windmill">
            <g id="Group_8">
            <g id="Group_9">
            <path id="Vector_23" d="M262.065 194.837C260.118 194.837 258.17 194.094 256.684 192.609C253.712 189.636 253.712 184.819 256.684 181.847L291.652 146.879C294.625 143.909 299.442 143.909 302.415 146.879C305.386 149.852 305.386 154.669 302.415 157.641L267.447 192.609C265.96 194.094 264.012 194.837 262.065 194.837V194.837Z" fill="#6a737b"/>
            </g>
            <path id="Vector_24" d="M286.28 152.259L380.81 57.729C387.058 51.481 397.189 51.481 403.437 57.729L415.895 70.187L310.052 176.03L286.28 152.259Z" fill="#1e2024"/>
            <path id="Vector_25" d="M433.925 88.219L415.893 70.188C412.923 67.217 408.104 67.217 405.131 70.188L310.047 165.272C307.076 168.245 307.076 173.062 310.047 176.034L328.078 194.067C331.145 197.133 335.171 198.665 339.199 198.665C343.225 198.665 347.254 197.131 350.319 194.067L433.926 110.46C440.057 104.328 440.057 94.351 433.925 88.219V88.219ZM386.742 136.12L373.733 123.111L386.742 110.102L399.752 123.112L386.742 136.12ZM362.971 159.891L349.962 146.882L362.971 133.873L375.98 146.882L362.971 159.891ZM339.557 183.304C339.362 183.501 339.038 183.502 338.841 183.305L326.19 170.653L339.199 157.644L352.208 170.653L339.557 183.304ZM423.164 99.699L410.514 112.349L397.504 99.339L410.513 86.33L423.164 98.98C423.362 99.179 423.362 99.502 423.164 99.699V99.699Z" fill="#2b3035"/>
            </g>
            <g id="Group_10">
            <g id="Group_11">
            <path id="Vector_26" d="M270.115 178.252C270.115 180.199 269.372 182.147 267.887 183.633C264.915 186.605 260.097 186.605 257.125 183.633L220.363 146.871C217.393 143.898 217.393 139.081 220.363 136.109C223.336 133.138 228.153 133.138 231.126 136.109L267.888 172.871C269.371 174.357 270.115 176.305 270.115 178.252Z" fill="#6a737b"/>
            </g>
            <path id="Vector_27" d="M225.743 152.243L131.213 57.713C124.965 51.465 124.965 41.334 131.213 35.086L143.671 22.628L249.515 128.472L225.743 152.243Z" fill="#1e2024"/>
            <path id="Vector_28" d="M161.703 4.599L143.672 22.631C140.701 25.601 140.701 30.42 143.672 33.392L238.756 128.477C241.729 131.448 246.546 131.448 249.517 128.477L267.55 110.446C270.616 107.379 272.148 103.353 272.148 99.325C272.148 95.299 270.614 91.27 267.55 88.205L183.944 4.598C177.812 -1.533 167.835 -1.533 161.703 4.599V4.599ZM209.604 51.782L196.595 64.791L183.586 51.782L196.596 38.773L209.604 51.782ZM233.375 75.553L220.366 88.562L207.357 75.553L220.366 62.543L233.375 75.553ZM256.789 98.967C256.986 99.162 256.987 99.486 256.79 99.683L244.138 112.334L231.129 99.325L244.138 86.316L256.789 98.967ZM173.183 15.36L185.833 28.011L172.823 41.021L159.814 28.012L172.464 15.361C172.663 15.162 172.986 15.162 173.183 15.36V15.36Z" fill="#2b3035"/>
            </g>
            <g id="Group_12">
            <g id="Group_13">
            <path id="Vector_29" d="M244.082 188.995C244.082 187.048 244.825 185.1 246.31 183.614C249.283 180.643 254.1 180.643 257.072 183.614L291.643 218.185C294.613 221.158 294.613 225.975 291.643 228.947C288.67 231.918 283.853 231.918 280.88 228.947L246.309 194.376C244.825 192.889 244.082 190.941 244.082 188.995V188.995Z" fill="#6a737b"/>
            </g>
            <path id="Vector_30" d="M286.262 212.812L380.792 307.342C387.04 313.59 387.04 323.721 380.792 329.97L368.334 342.428L262.491 236.584L286.262 212.812Z" fill="#1e2024"/>
            <path id="Vector_31" d="M350.303 360.457L368.334 342.425C371.305 339.455 371.305 334.636 368.334 331.663L273.249 236.579C270.276 233.608 265.459 233.608 262.488 236.579L244.455 254.61C241.389 257.677 239.857 261.703 239.857 265.731C239.857 269.757 241.391 273.786 244.455 276.851L328.062 360.458C334.194 366.589 344.17 366.589 350.303 360.457ZM302.401 313.274L315.41 300.265L328.419 313.274L315.409 326.283L302.401 313.274ZM278.63 289.503L291.639 276.494L304.648 289.503L291.639 302.512L278.63 289.503ZM255.217 266.089C255.02 265.894 255.019 265.57 255.216 265.373L267.868 252.722L280.877 265.731L267.868 278.74L255.217 266.089ZM338.823 349.696L326.172 337.046L339.182 324.036L352.191 337.045L339.541 349.696C339.343 349.894 339.02 349.894 338.823 349.696V349.696Z" fill="#2b3035"/>
            </g>
            <g id="Group_14">
            <g id="Group_15">
            <path id="Vector_32" d="M251.913 168.258C253.86 168.258 255.808 169.001 257.294 170.486C260.266 173.459 260.266 178.276 257.294 181.248L220.348 218.194C217.375 221.165 212.558 221.165 209.586 218.194C206.614 215.221 206.614 210.404 209.586 207.432L246.532 170.486C248.018 169.001 249.966 168.258 251.913 168.258V168.258Z" fill="#6a737b"/>
            </g>
            <path id="Vector_33" d="M225.72 212.813L131.19 307.343C124.942 313.591 114.811 313.591 108.563 307.343L96.106 294.885L201.949 189.042L225.72 212.813Z" fill="#1e2024"/>
            <path id="Vector_34" d="M78.076 276.853L96.108 294.884C99.079 297.855 103.897 297.855 106.869 294.884L201.953 199.8C204.925 196.828 204.925 192.01 201.953 189.039L183.922 171.006C180.855 167.94 176.829 166.408 172.801 166.408C168.775 166.408 164.746 167.942 161.681 171.006L78.074 254.613C71.944 260.744 71.944 270.721 78.076 276.853V276.853ZM125.259 228.952L138.268 241.961L125.26 254.97L112.251 241.96L125.259 228.952ZM149.03 205.181L162.039 218.19L149.03 231.199L136.021 218.19L149.03 205.181ZM172.444 181.768C172.639 181.571 172.963 181.57 173.16 181.767L185.811 194.419L172.802 207.428L159.793 194.419L172.444 181.768ZM88.837 265.374L101.487 252.724L114.497 265.734L101.488 278.743L88.837 266.093C88.639 265.894 88.639 265.571 88.837 265.374V265.374Z" fill="#2b3035"/>
            </g>
            </g>
            <path id="Vector_35" d="M256 199.348C265.283 199.348 272.809 191.822 272.809 182.539C272.809 173.256 265.283 165.73 256 165.73C246.717 165.73 239.191 173.256 239.191 182.539C239.191 191.822 246.717 199.348 256 199.348Z" fill="#FFE07D"/>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="512" height="512" fill="white"/>
            </clipPath>
            </defs>
            </svg>  
          </div>
			<div class="col-lg-6 position-relative">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 knewave-regular">FlourExpress</h1>
          <p class="lead">
              Ihr mehliges Express-Erlebnis!    
          </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>
        <div id="wrapper">
            <div id="car-body">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 545.6 313.5" style="enable-background:new 0 0 545.6 313.5;" xml:space="preserve">
                <g id="surf-board">
                  <path id="XMLID_34_" class="st6" d="M418.3,59.4c-14.5-4-106.5-10.5-120.5-10.5s-92.7,0.8-108.5,3c-14.1,2-43.4,4.5-57,7.5H418.3z
                    "/>
                  <path id="XMLID_21_" class="st6" d="M415.3,60.4c14.5,5,19.5,12.5,19.5,12.5l-165.2-3l-165.2,3c0,0-3.3-2,0-5.5
                    c3.3-3.5,10.6-3.1,20.8-6c1.1-0.3,2.6-1,4.3-1H415.3z"/>
                  <path id="XMLID_23_" class="st6" d="M360.7,51.6c0,0-0.9-5.2,10.6-17.3s21.6-11.9,21.6-11.9h11.9l6.5,2.2L399.1,42l-3.8,12.6
                    L360.7,51.6z"/>
                  <rect id="XMLID_22_" x="146.3" y="73" class="st6" width="6.8" height="12"/>
                  <rect id="XMLID_24_" x="390.3" y="72.9" class="st6" width="7.5" height="12"/>
                </g>
                <g id="body">
                  <g id="XMLID_15_">
                    <path id="XMLID_29_" class="st7" d="M213.4,161.9l0-67.7c-73.1,0.3-134.6,1.1-136.6,2.7c-5,4-28.1,49.6-28.1,58.1
                      c0,2,0,4.6,0,7.4L213.4,161.9z"/>
                    <path id="XMLID_27_" class="st8" d="M213.4,161.2l0.4,76.3h-29.5l-16.5-30h-42.5l-18.5,30h-56l-2-54.9c0,0,0-11.8,0-21.1
                      L213.4,161.2z"/>
                    <polygon id="XMLID_31_" class="st9" points="205.8,160.4 205.8,196.4 116.1,197.6 107.8,215.4 86.3,215.4 85.9,160.4       "/>
                    <polyline id="XMLID_14_" class="st10" points="86.9,161.4 87.3,150.4 106.8,98.7 206.8,97.9 206.8,161.4       "/>
                    <path id="XMLID_86_" class="st7" d="M97.1,240.3H48.6c-4.3,0-7.7-3.5-7.7-7.8v0c0-4.3,3.5-7.7,7.7-7.7h48.5
                      c4.3,0,7.7,3.5,7.7,7.7v0C104.8,236.8,101.3,240.3,97.1,240.3z"/>
                    <path id="XMLID_87_" class="st11" d="M118.6,106.4l-3.6-0.1l-3.6,2.1l-10.1,30.1c0,0-0.8,4.4,0,6.8s6.5,3,6.5,3s93.2,0,95,0
                      s2-2.9,2-4.3c0-1.4,0-36.4,0-36.4l-0.4-1.6l-1.1,0.3H118.6z"/>
                    <path id="XMLID_5_" class="st11" d="M76.8,103.7c0,0,9,2.2,11.5,3.3s2.5,4,2.5,4s-12.8,29.8-14,32.2s-7,5.3-7,5.3h-17l-2-1
                      c0,0,3.1-10.8,8.8-23.1c4.7-10.1,11.1-19.4,12.2-19.9C74.3,103.3,76.8,103.7,76.8,103.7z"/>
                    <path id="XMLID_16_" class="st5" d="M201.3,176.2h-12c-0.8,0-1.5-0.7-1.5-1.5v-1.1c0-0.8,0.7-1.5,1.5-1.5h12
                      c0.8,0,1.5,0.7,1.5,1.5v1.1C202.8,175.6,202.1,176.2,201.3,176.2z"/>
                    <rect id="XMLID_4_" x="85.8" y="155.9" class="st12" width="122.5" height="5.5"/>
                    <rect id="XMLID_13_" x="48.8" y="155.9" class="st12" width="37.1" height="5.5"/>
                  </g>
                  <g id="XMLID_39_">
                    <path id="XMLID_20_" class="st7" d="M271.8,161.4l205-1c0,0,0-16.6,0-19.4c0-10.6-9.1-42.6-14.1-46.1c-3-2.1-139.9-3.1-250.9-2.7
                      v54.2l0.6,15H271.8z"/>
                    <polygon id="XMLID_25_" class="st8" points="476.8,159.3 476.8,237.4 447.3,237.4 437.8,222.4 376.3,222.4 366.8,237.4
                      212.8,237.4 212.1,159.9       "/>
                    <path id="XMLID_3_" class="st7" d="M480.1,239.4h-17c-4.3,0-7.8-3.5-7.8-7.8v0c0-4.3,3.5-7.7,7.8-7.7h17c4.3,0,7.8,3.5,7.8,7.7v0
                      C487.8,235.9,484.3,239.4,480.1,239.4z"/>
                    <path id="XMLID_85_" class="st11" d="M260.8,147.4h-29c-6.6,0-12-5.4-12-12v-19.5c0-6.6,5.4-12,12-12h29c6.6,0,12,5.4,12,12v19.5
                      C272.8,142,267.4,147.4,260.8,147.4z"/>
                    <path id="XMLID_88_" class="st11" d="M325.3,147.4h-29c-6.6,0-12-5.4-12-12v-19.5c0-6.6,5.4-12,12-12h29c6.6,0,12,5.4,12,12v19.5
                      C337.3,142,331.9,147.4,325.3,147.4z"/>
                    <path id="XMLID_89_" class="st11" d="M388.8,146.9h-29c-6.6,0-12-5.4-12-12v-19.5c0-6.6,5.4-12,12-12h29c6.6,0,12,5.4,12,12v19.5
                      C400.8,141.5,395.4,146.9,388.8,146.9z"/>
                    <line id="XMLID_6_" class="st13" x1="407.8" y1="167.9" x2="447.8" y2="167.9"/>
                    <line id="XMLID_8_" class="st13" x1="407.8" y1="173.9" x2="447.8" y2="173.9"/>
                    <line id="XMLID_9_" class="st13" x1="407.8" y1="179.9" x2="447.8" y2="179.9"/>
                    <line id="XMLID_10_" class="st13" x1="407.8" y1="185.9" x2="447.8" y2="185.9"/>
                    <line id="XMLID_12_" class="st13" x1="407.8" y1="191.9" x2="447.8" y2="191.9"/>
                    <path id="XMLID_7_" class="st14" d="M471.5,216.1h-10.9c-0.6,0-1.1-0.5-1.1-1.1v-5.8c0-0.6,0.5-1.1,1.1-1.1h10.9
                      c0.6,0,1.1,0.5,1.1,1.1v5.8C472.6,215.6,472.1,216.1,471.5,216.1z"/>
                    <path id="XMLID_11_" class="st4" d="M477.3,203.9v-8h3.4c0.9,0,1.6,0.7,1.6,1.6v4.9c0,0.9-0.7,1.6-1.6,1.6H477.3z"/>
                    <line id="XMLID_18_" class="st15" x1="213.4" y1="97.9" x2="212.8" y2="161.4"/>
                    <rect id="XMLID_19_" x="204.8" y="155.9" class="st12" width="272" height="5.5"/>
                    <line id="XMLID_28_" class="st16" x1="212.8" y1="161.4" x2="212.8" y2="236.4"/>
                  </g>
                  <g id="XMLID_26_">
                    <path id="XMLID_90_" class="st7" d="M72.3,99.4h395c0,0-6-6.1-8.7-8c-2.8-1.9-8.1-6-13.4-6s-345.1,0-345.1,0l-7.5,0.5
                      c0,0-8.7,2.6-11.8,4.4C77.7,92,72.3,99.4,72.3,99.4z"/>
                    <line id="XMLID_32_" class="st15" x1="73.8" y1="99.4" x2="465.8" y2="99.4"/>
                  </g>
                </g>
              </svg>
            </div><!-- Car Body -->
            <div id="wheel">
              <div class="wheel wheel-front">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 545.6 313.5" style="enable-background:new 0 0 545.6 313.5;" xml:space="preserve">
                  <circle id="outer" class="st3" cx="146.3" cy="245.9" r="34"/>
                  <path id="white-space" class="st4" d="M146.6,230.5c8.7,0,15.7,7,15.7,15.7s-7,15.7-15.7,15.7s-15.7-7-15.7-15.7
                    S137.9,230.5,146.6,230.5"/>
                  <path id="inner" class="st5 inner-tire" d="M146.8,239c-4.1,0-7.3,3.2-7.3,7.2c0,4,3.3,7.2,7.3,7.2c0-2.3,0-4.7,0-7c2.8,0,4.7,0,7.3,0
                    c0-0.1,0-0.2,0-0.2C154.1,242.2,150.9,239,146.8,239z">
                      <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="360 146.3 245.9" to="0 146.3 245.9" begin="0s" dur="0.6s" repeatCount="indefinite"/>
                  </path>
                </svg>
              </div> <!-- Wheel Front -->
              <div class="wheel wheel-back">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 545.6 313.5" style="enable-background:new 0 0 545.6 313.5;" xml:space="preserve">
                  <circle id="outer_1_" class="st3" cx="408.3" cy="245.9" r="34"/>
                  <circle id="white-space_1_" class="st4" cx="408.6" cy="246.2" r="15.7"/>
                  <path id="inner_1_" class="st5 inner-tire" d="M408.8,239c-4.1,0-7.3,3.2-7.3,7.2c0,4,3.3,7.2,7.3,7.2c0-2.3,0-4.7,0-7c2.8,0,4.7,0,7.3,0
                    c0-0.1,0-0.2,0-0.2C416.1,242.2,412.9,239,408.8,239z">
                    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="360 408.3 245.9" to="0 408.3 245.9" begin="0s" dur="0.6s" repeatCount="indefinite"/>
                  </path>
                </svg>
              </div> <!-- Wheel Back -->
            </div> <!-- Wheel -->
            <div id="smoke">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 93.1 79.3" style="enable-background:new 0 0 93.1 79.3;" xml:space="preserve">
                <path class="st5" d="M36.7,11c-1.8-8-7-10-7-10l-19-1c-17.8,8-8,29-8,29c5.5,5.5,17,7,17,7c-12.7,14.8-7,26-7,26c4,3.8,17,2,17,2v6
                  c3.5,12,25,9,25,9c4.5-2,6-5,6-5l1-3h18c7.3-2.8,6-9,6-9l-1-9c11.3-7.8,8-25,8-25c-7.1-4-13.6-4.1-15.5-4c7-9-0.5,0-0.5,0l1-10
                  c-9-6-16-8-16-8c-4.3-1.8-19-1-19-1L36.7,11z"/>
                </svg>
              </div> <!-- Smoke -->
            <div id="shadow">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 545.6 313.5" style="enable-background:new 0 0 545.6 313.5;" xml:space="preserve">
                <path class="st2" d="M461.1,288.4H70.3c-5.8,0-10.5-4.7-10.5-10.5l0,0c0-5.8,4.7-10.5,10.5-10.5h390.8
                  c5.8,0,10.5,4.7,10.5,10.5l0,0C471.6,283.7,466.8,288.4,461.1,288.4z"/>
              </svg>
      </div> <!-- Shadow -->
    </div>
      </div>
    </div>
		<div class="row">
			<div class="col-lg-12 position-relative">
      <div class="lightbar">
      <div id="light-1" class="light strobe blue">
        <div class="inner-light"></div>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
      </div>
      <div id="light-2" class="light strobe blue">
        <div class="inner-light"></div>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
      </div>
      <div id="light-3" class="light strobe blue">
        <div class="inner-light"></div>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
      </div>
      <div id="light-4" class="light strobe red delay">
        <div class="inner-light"></div>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
      </div>
      <div id="light-5" class="light strobe red delay">
        <div class="inner-light"></div>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
      </div>
      <div id="light-6" class="light strobe red delay">
        <div class="inner-light"></div>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
        <span class="bulb"></span>
    
      </div>
    </div>
    
    <div class="controls">
      <div class="default-buttons">
      <h2>Basic Controls</h2>
        <button id="default" class="active">Sequence 1</button>
      <button id="alt">Sequence 2 </button>
      <button id="spotlight">Spotlight</button>
        <button id="off">Off</button>
      </div>
      <div class="traffic-buttons">
        <h2>Traffic Warnings</h2>
        <button id="traffic-default">Default</button>
      <button id="caution">Caution</button>
      <button id="warn-right">Left</button>
      <button id="warn-left">Right</button>
      </div>
    </div>
      </div>
    </div>
  </div>
<div class="b-example-divider"></div>
{% endblock %}
