{% extends 'base.html.twig' %}

{% block title %}New Fahrer{% endblock %}

{% block body %}
{% block content %}
<div class="container mt-5">
<div class="row">
    <div class="col-md-4">
    <div class="card shadow">
					<div class="card-header">
						<h3 class="card-title">{{ ux_icon('tabler:feather', {height: '30px', width: '30px', 'aria-hidden': true}) }} Fahrer anlegen</h3>
                    </div>
					<div class="card-body">
{% endblock %}
   

    {{ include('fahrer/_form.html.twig') }}

    <a href="{{ path('app_fahrer_index') }}" class="btn btn-primary">back to list</a>
    {% block contentend %}
</div>

</div>
</div>
</div></div>
{% endblock %}
{% endblock %}
