.st1{display:inline;fill:#3ABC98;}
.st2{opacity:0.32;fill:#727171;}
.st3{fill:#2b3035;}
.st4{fill:#FFFFFF;}
.st5{fill:#C9CACA;}
.st6{fill:#FDBE25;}
.st7{fill:#000000;}
.st8{fill:#dc3545;}
.st9{fill:#dc3545;stroke:#dc3545;stroke-width:2;stroke-miterlimit:10;}
.st10{fill:none;stroke:#121212;stroke-width:2;stroke-miterlimit:10;}
.st11{fill:#6a737b;}
.st12{fill:#dc3545;}
.st13{fill:none;stroke:#595757;stroke-width:3;stroke-miterlimit:10;}
.st14{fill:none;stroke:#dc3545;stroke-miterlimit:10;}
.st15{fill:#121212;stroke:#121212;stroke-width:2;stroke-miterlimit:10;}
.st16{fill:#C96031;stroke:#dc3545;stroke-width:2;stroke-miterlimit:10;}


#wrapper {
    position: absolute;
    width: 620px;
    height: 300px;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#car-body {
    position: absolute;
    width: 100%;
    bottom: 30px;
    animation: carbody 1s linear infinite;
    -webkit-animation: carbody 1s linear infinite;
}

#wheel {
    .wheel {
        position: absolute;
        width: 100%;
        bottom: 30px;
    }
    .wheel-back {
        z-index: -1;
    }
}

#smoke {
    width: 10px;
    position: absolute;
    right: 30px;
    top: 150px;
    animation: smoke 1.2s linear infinite;
    -webkit-animation: smoke 1s linear infinite;
}

#shadow {
    position: absolute;
    bottom: 30px;
    width: 100%;
    z-index: -2;
}
/***** Animation *****/

@keyframes carbody {
    0% {
        bottom: 30px;
    }
    60% {
        bottom: 35px;
    }
    80% {
        bottom: 37px;
    }
}
@-webkit-keyframes carbody {
    0% {
        bottom: 30px;
    }
    60% {
        bottom: 35px;
    }
    80% {
        bottom: 37px;
    }
}

@keyframes smoke {
    from {
        right: 30px;
    }
    to {
        right: -80px;
        transform: scale(5);
        opacity: .2;
    }
}
@-webkit-keyframes smoke {
    from {
        right: 30px;
    }
    to {
        right: -80px;
        transform: scale(5);
        opacity: .2;
    }
}
